@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  background-color: lightskyblue; }

.GridArea {
  height: 100%;
  display: grid;
  grid-template-areas: "nav " "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 100% 75px; }

.terminar {
  display: flex;
  flex-direction: column; }
  .terminar button {
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 800;
    background: wheat; }
    .terminar button:hover {
      background: darkkhaki; }

.datoError {
  color: red;
  font-size: 13px; }

.hide {
  display: none; }

.nav {
  grid-area: nav;
  background-color: #bf930d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  height: auto;
  width: 100%;
  box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px; }

.paciente__logo {
  width: 50px;
  height: 50px; }

.icon {
  position: relative; }

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  list-style: none;
  margin-bottom: 20px;
  margin-top: 20px; }

.nav__logoImg {
  width: 50px;
  height: 50px; }

.nav__item {
  font-size: 25px;
  display: inline-block;
  margin-left: 20px;
  transition: all 2s ease; }

.nav__link {
  font-family: "Anton", sans-serif;
  color: black;
  text-decoration: none; }

.nav__item:hover {
  transform: scale(1); }

.badge {
  position: absolute;
  top: 0;
  left: 55%;
  background: aliceblue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
  padding: 2px;
  box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75); }

.liDespegable {
  background-color: #bf930d;
  float: none;
  width: 100%; }

.MenuDespegable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; }

.nLink:hover {
  background-color: #26200c !important;
  color: aliceblue !important; }

.division {
  margin-left: 100px;
  margin-right: 100px; }

.main {
  grid-area: main;
  /*   margin-bottom: 100px; */ }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  height: 50px;
  width: 100%;
  color: #ebeff2;
  background-color: #0d0d0d;
  bottom: 0;
  position: fixed;
  margin-top: 50px; }

.footer__inconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none; }
  .footer__inconos li {
    margin-left: 25px; }

.icono, .facebook, .whatsapp, .instagram, .twitter {
  height: 3vh;
  width: 3vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 2s ease-in-out; }
  .icono:hover, .facebook:hover, .whatsapp:hover, .instagram:hover, .twitter:hover {
    transform: scale(1.3) rotate(360deg); }

.whatsapp {
  background-image: url(../public/assets/whatsapp.png); }

.instagram {
  background-image: url(../public/assets/instagram.png); }

.facebook {
  background-image: url(../public/assets/facebook.png); }

.linkCard {
  text-decoration: none;
  color: #000000;
  margin-bottom: 50px; }

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px;
  justify-content: center; }

.item {
  margin: 15px; }

.iCard {
  width: 300px;
  height: 480px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
  box-shadow: 10px 11px 26px -3px rgba(0, 0, 0, 0.86); }
  .iCard:hover {
    background-color: #dde7ee; }

.iCard__img {
  padding-top: 5px;
  width: auto;
  height: 262px; }

.iCard__body {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center; }

.iCard__title {
  border: 1px solid black;
  width: 100%;
  border-radius: 41px 11px 41px 11px;
  margin-bottom: 5px; }

.iCard__text {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px;
  font-weight: 500; }

.iCard__footer {
  background-color: gray;
  width: 100%;
  color: aliceblue;
  border-radius: 5px;
  margin-top: 30px; }

.detalleProducto {
  grid-area: main;
  height: 100%;
  display: grid;
  grid-template-areas: "imagenProducto compraProducto" "detalleProducto detalleProducto";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto; }

.detalleProducto__img {
  grid-area: imagenProducto;
  display: block;
  text-align: center; }
  .detalleProducto__img img {
    height: 450px;
    width: auto; }

.detalleProducto__compra {
  grid-area: compraProducto;
  display: flex;
  align-items: center;
  justify-content: center; }

.detalleProducto__compraInt {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px; }
  .detalleProducto__compraInt .bodega {
    color: #6a581c;
    margin-bottom: 5px; }
  .detalleProducto__compraInt .precio {
    font-size: 25px;
    margin-bottom: 5px; }

.detalleProducto__detalles {
  grid-area: detalleProducto;
  margin: 5px 5px 50px 5px;
  border: 1px solid black; }

.detalles {
  background-color: #bf930d;
  text-align: center;
  box-shadow: inset 0px -17px 24px -9px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 12px 20px 9px rgba(0, 0, 0, 0.44);
  margin-bottom: 20px; }

.tablas {
  margin: 20px;
  display: grid;
  grid-template-areas: "tabla1 tabla2";
  grid-template-columns: 0.5fr 1fr; }

.table1 {
  grid-area: tabla1;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 5px; }
  .table1 tr {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-right: 10%; }
  .table1 th {
    width: 150px; }
  .table1 td {
    text-align: center;
    padding-left: 20px; }

.table2 {
  grid-area: tabla2;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 5px; }
  .table2 tr {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-right: 10%; }
  .table2 th {
    width: 150px; }
  .table2 td {
    text-align: center;
    padding-left: 20px; }

@media screen and (max-width: 500px) {
  .detalleProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .tablas {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* grid-template-areas:
      "tabla1 "
      "tabla2"; */ } }

.contadorContainer {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px; }

.contador {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.btn-cont {
  border: 1px solid black;
  height: 25px;
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background: wheat;
  font-weight: 800;
  border-radius: 2px; }
  .btn-cont:hover {
    background: darkkhaki;
    cursor: pointer; }

.cont {
  margin-left: 20px;
  margin-right: 20px; }

.btnAgregar {
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 800;
  background: wheat;
  cursor: pointer; }
  .btnAgregar:hover {
    background: darkkhaki; }

.cargandoContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px; }

.cargando {
  position: relative;
  width: 100px;
  height: 100px; }

.cargando:before,
.cargando:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset; }

.cargando:after {
  box-shadow: 0 2px 0 #ff3d00 inset;
  animation: rotate 2s linear infinite; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.contenedor404 {
  text-align: center;
  margin-bottom: 50px; }

.pagina404 {
  color: #fff;
  font-size: 250px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.texto404 {
  margin-top: 50px;
  margin-bottom: 15px; }
  .texto404 p {
    font-size: 30px; }

.tableCart {
  text-align: center; }

.papelera {
  height: 25px;
  width: auto; }

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 0 0 1em 0;
  caption-side: top; }

caption,
td,
th {
  padding: 0.3em; }

tbody {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

tbody th,
tfoot th {
  border: 0; }

th.name {
  width: 25%; }

th.location {
  width: 20%; }

th.lasteruption {
  width: 30%; }

th.eruptiontype {
  width: 25%; }

tfoot {
  color: #555;
  font-size: 20px; }
  tfoot tr th:first-child {
    text-align: right; }

.btnVaciar {
  margin-top: 15px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
  background: wheat; }
  .btnVaciar:hover {
    background: darkkhaki; }

.btnCantidad {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .btnCantidad button {
    border: 1px solid black;
    height: 25px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background: wheat; }
    .btnCantidad button:hover {
      background: darkkhaki;
      cursor: pointer; }

.botellaVacias {
  text-align: center;
  text-decoration: none;
  color: #555; }
  .botellaVacias img {
    width: 275px;
    height: auto; }

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px; }
  .checkout div {
    text-align: center;
    margin-top: 20px; }

.checkout-titulo {
  text-align: center;
  margin-top: 25px;
  font-size: 25px; }

.checkout-input {
  text-align: center;
  margin-top: 20px; }
  .checkout-input input {
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
    border-radius: 7px; }

.checkout-btn {
  text-align: center;
  margin-top: 20px; }

.incorrecto {
  border: 1px solid red !important;
  color: red; }

.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border: 1px solid black; }

.order {
  margin-top: 10px; }

.orders_productos {
  padding: 10px;
  border: 1px solid black; }

.orders__total {
  border: 1px solid black;
  margin-bottom: 50px;
  padding: 5px; }
  .orders__total span {
    color: red;
    font-weight: 800; }
